# Environment
__pycache__
web/node_modules
web/build
.venv
.vscode
supervisord.pid
.env
.ruff_cache
.pytest_cache

# Logs
*.log

# Static 
api/static/*
!api/static/.gitkeep
!api/static/brand.png
api/templates/modified/*
!api/templates/modified/.gitkeep
