{{ domain }} {
    @jaegerNoSlash path /jaeger
    redir @jaegerNoSlash /jaeger/ permanent

    basic_auth /jaeger/* {
        {$JAEGER_USER} {$JAEGER_PASSWORD_HASH}
    }

    reverse_proxy /api/* {% if prefix %}{{ prefix }}-{%- endif %}api:8000
    reverse_proxy /jaeger/* {% if prefix %}{{ prefix }}-{%- endif %}jaeger:16686
    reverse_proxy /* {% if prefix %}{{ prefix }}-{%- endif %}web:5173
}

