name: "{{ app_name }}"

x-custom:
  python-env: &python-env
    PYTHONPATH: /workspace:/workspace/app
    PYTHONDONTWRITEBYTECODE: 1
    PYTHONUNBUFFERED: 1
  mysql-env: &mysql-env
    MYSQL_HOST: ${MYSQL_HOST:-mysql}
    MYSQL_PORT: ${MYSQL_PORT:-3306}
    MYSQL_DATABASE: ${MYSQL_DATABASE:-{{ app_name }}}
    MYSQL_USER: ${MYSQL_USER:-user}
    MYSQL_PASSWORD: ${MYSQL_PASSWORD:-password}
    DATABASE_URL: mysql+pymysql://${MYSQL_USER}:${MYSQL_PASSWORD}@${MYSQL_HOST}:${MYSQL_PORT}/${MYSQL_DATABASE}
    DATABASE_URL_ASYNC: mysql+aiomysql://${MYSQL_USER}:${MYSQL_PASSWORD}@${MYSQL_HOST}:${MYSQL_PORT}/${MYSQL_DATABASE}
  redis-env: &redis-env
    REDIS_HOST: ${REDIS_HOST:-redis}
    REDIS_PORT: ${REDIS_PORT:-6379}
  api-env: &api-env
    APP_NAME: ${APP_NAME:-{{ app_name }}}
    SECRET_KEY: ${SECRET_KEY}
  web-env: &web-env
    VITE_BASE_API_URL: ${VITE_BASE_API_URL:-/api}
    VITE_APP_NAME: ${VITE_APP_NAME:-{{ app_name }}}
  otel-env: &otel-env
    OTEL_SERVICE_NAME: ${APP_NAME:-sample}
    OTEL_EXPORTER_JAEGER_ENDPOINT: http://jaeger:14268/api/traces
    OTEL_EXPORTER_OTLP_ENDPOINT: http://otel-collector:4318
  caddy-env: &caddy-env
    JAEGER_USER: ${JAEGER_USER:-admin}
    JAEGER_PASSWORD: ${JAEGER_PASSWORD:-password}
    JAEGER_PASSWORD_HASH: ${JAEGER_PASSWORD_HASH}
  mysql-testing-env: &mysql-testing-env
    MYSQL_HOST: ${MYSQL_HOST:-mysql}
    MYSQL_PORT: ${MYSQL_PORT:-3306}
    MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD:-password}
    MYSQL_DATABASE: ${MYSQL_DATABASE:-test_db}
    MYSQL_USER: ${MYSQL_USER:-user}
    MYSQL_PASSWORD: ${MYSQL_PASSWORD:-password}
    DATABASE_URL: mysql+pymysql://${MYSQL_USER}:${MYSQL_PASSWORD}@${MYSQL_HOST}:${MYSQL_PORT}/test_db
    DATABASE_URL_ASYNC: mysql+aiomysql://${MYSQL_USER}:${MYSQL_PASSWORD}@${MYSQL_HOST}:${MYSQL_PORT}/test_db

services:
  mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - ${MYSQL_PORT}:3306
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - app_network

  redis:
    image: redis:latest
    ports:
      - 6379:6379
    networks:
      - app_network

  worker:
    build:
      target: worker
    volumes:
      - ./api:/workspace/app
    command: uv run rq worker email notification
    depends_on:
      - mysql
      - redis
    networks:
      - app_network
    environment:
      <<:
        - *python-env
        - *mysql-env
        - *redis-env

  otel-collector:
    image: otel/opentelemetry-collector:latest
    volumes:
      - ./provision/otel/otel-collector-config.yaml:/etc/otel-collector-config.yaml
    command: ["--config=/etc/otel-collector-config.yaml"]
    networks:
      - app_network

  jaeger:
    image: jaegertracing/all-in-one:latest
    command:
      - "--query.base-path=/jaeger"
    networks:
      - app_network

  api:
    build:
      target: api
    volumes:
      - ./api:/workspace/app
    command: uv run fastapi dev /workspace/app/main.py --host 0.0.0.0 --port 8000
    depends_on:
      - mysql
      - redis
    networks:
      - app_network
    environment:
      <<:
        - *python-env
        - *mysql-env
        - *redis-env
        - *api-env
        - *otel-env
    profiles:
      - dev

  web:
    build:
      target: web
    volumes:
      - ./web:/workspace/app
      - /workspace/app/node_modules
      - /workspace/app/build
    command: npm run dev
    depends_on:
      - api
    networks:
      - app_network
    environment:
      <<: *web-env
      CHOKIDAR_USEPOLLING: "true"
      WATCHPACK_POLLING: "true"
    profiles:
      - dev

  caddy:
    image: caddy:latest
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./provision/caddy/Caddyfile.local:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - web
      - api
    environment:
      <<: *caddy-env
    networks:
      - app_network
    profiles:
      - dev

  pr-api:
    build:
      target: api
    volumes:
      - ./api:/workspace/app
    command: uv run fastapi run /workspace/app/main.py --host 0.0.0.0 --port 8000
    depends_on:
      - mysql
      - redis
    networks:
      - app_network
    environment:
      <<:
        - *python-env
        - *mysql-env
        - *redis-env
        - *api-env
        - *otel-env
    profiles:
      - prod

  pr-web:
    build:
      target: web_prod
    command: serve -s dist -l 5173
    depends_on:
      - pr-api
    networks:
      - app_network
    profiles:
      - prod

  pr-caddy:
    image: caddy:latest
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./provision/caddy/Caddyfile.prod:/etc/caddy/Caddyfile
      - pr_caddy_data:/data
      - pr_caddy_config:/config
    depends_on:
      - pr-web
      - pr-api
    environment:
      <<: *caddy-env
    networks:
      - app_network
    profiles:
      - prod

  testing:
    build:
      target: testing
    volumes:
      - ./api:/workspace/api
      - ./web:/workspace/web
      - ./testing:/workspace/testing
    environment:
      <<:
        - *python-env
        - *mysql-testing-env
        - *redis-env
        - *api-env
    depends_on:
      - mysql
      - redis
    networks:
      - app_network
    profiles:
      - testing

volumes:
  mysql_data:
  caddy_data:
  caddy_config:
  pr_caddy_data:
  pr_caddy_config:

networks:
  app_network:
    driver: bridge

