from .base import BaseFactory
from models.{{ module }} import {{ model.__name__ }}

class {{ model.__name__ }}Factory(BaseFactory):
    def __init__(self):
        super().__init__({{ model.__name__ }})

    # You can also implement your own random list_generator
    # def random_generator(self) -> dict:
    #     pass

    def list_generator(self):
        """
        Override to add custom dataset
        """
        return []

